@media screen and (max-width:983px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:787px) {
    .conteudo {
        display: none;
    }

    .footer {
        display: none;
    }


    .whatsapp {
        position: fixed;
        right: 40px;
    }
}

@media screen and (max-width:375px) {
    p {
        border: 1px solid red;
        font-size: 12px;
    }

    h1 {
        border: 1px solid blue;
        font-size: 12px;
    }
}


@media screen and (max-width:414px) {
    p {
       
        font-size: 12px;
    }

    h1 {
        
        font-size: 12px;
    }
}
